
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

venv/
.env/

logs/*
!logs/.gitkeep

data/trained_reward_model/*
!data/trained_reward_model/.gitkeep

data/ppo_gpt2_model/*
!data/ppo_gpt2_model/.gitkeep

data/ppo_gpt2_tokenizer/*
!data/ppo_gpt2_tokenizer/.gitkeep

outputs/*
!outputs/.gitkeep

*.pt
*.bin

.DS_Store
.idea/
.vscode/
